.disclosure {
  background-color: $color-white-1;
  .disclosure__airbag {
    // display: flex;
    // span
    h2 {
      span {
        color: $color-red-3;
        // font-weight: $fw-bold-0;
        font-size: 3.3rem;
      }
    }
    button {
      @include styleButton(
        $color-red-3,
        $color-white-0,
        $pd-1 + 2,
        $pd-5,
        $color-red-3,
        $border-radius-1
      );
      transition: 0.05s;
      &:hover {
        @include styleHoverButton($color-white-0, $color-red-3, $color-red-3);
      }
    }
  }
  .accordion {
    cursor: pointer;
    position: relative;
    .accordion__header {
      padding: 23px $pd-1;
      background-color: $color-white-0;
      button {
        span {
          font-size: $fs-1;
          color: $color-blue-1;
          i {
            margin-left: $mg-1;
            font-size: $fs-1;
            transition: 0.3s;
          }
        }
        &:focus {
          box-shadow: none;
          border-color: $color-blue-1;
          padding: $pd-0 0;
          border-radius: 0;
          transition: 0s;
        }
        &:hover {
          border-color: $color-white-0;
        }
      }
    }
    .accordion__body {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: 0.2s;

      .body__content {
        font-size: 12px;
        padding: $pd-5 $pd-6;
        background-color: $color-white-1;
      }
    }
    &.active {
      .accordion__header {
        button {
          i {
            transform: rotate(180deg);
          }
        }
      }
      .accordion__body {
        height: 200px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 10px;
          background: lightgray;
        }
        &::-webkit-scrollbar-thumb {
          background-color: grey;
        }
      }
    }
  }
}

//
.container-fluid {
  padding-left: 95px;
  padding-right: 95px;
}
// @media (min-width: 992px){

// }
// @include responsive("large") {
@media (max-width: 1439px) {
  .container-fluid {
    padding: 0 45px;
  }
}
// @media (max-width: 1023px) {

// }
@media (max-width: 991px) {
  .container-fluid {
    padding: 0 30px;
  }
}
// }
// @include responsive("medium") {
@media (max-width: 767px) {
  .container-fluid {
    padding: 0 25px;
  }
}
@media (max-width: 479px) {
  .container-fluid {
    padding: 0 15px;
  }
}
.disclosure .disclosure__airbag h2 span {
  font-size: 35px;
}
